#board{
	max-width: 640px;
	min-width: 320px;
	width: 75%;
	margin: auto;
}

.square{
	width:  30%;
	background-color: lightsalmon;
	color: #310736;
	padding:  30px 0;
	box-sizing: border-box;
	float: left;
	font-size: 80px;
	border: 2px solid white; 

}

h1{
	font-size: 90px;
	margin: auto;
	text-align: center;
	font-family: d;
	}

#message{
	font-size: 50px;
	color: lightsalmon;
}

.winning-squares{
	background-color: turquoise !important;
	color: darkcyan !important;
}