body{
	background-color: lavender;
}

#board{
	max-width: 640px;
	min-width: 320px;
/* 	height:  640px; */
	width: 75%;
	margin: auto;
	border: 1px solid #310736;
}

.square{
	width:  33.333%;
	height: 212px;
	background-color: lightsalmon;
	color: #310736;
	padding:  30px 0;
	box-sizing: border-box;
	float: left;
	font-size: 80px;
	border: 2px solid lavender; 
	border-radius: 50%;
}

.square:hover{
	background-color: darksalmon;
}

h1{
	font-size: 70px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-family: "Frutiger Neue W02 Thin", Arial;
	color: #310736;
	max-width: 640px;
	min-width: 320px;
	width: 75%;
	}

#message{
	font-size: 50px;
	color: darksalmon;
	transition: all 3s ease-in;
}


.winning-squares{
	background-color: turquoise !important;
	color: darkcyan !important;
}

.losing-squares{
	transition: all 3s ease-out;
	visibility: hidden;
}

#row{position: relative;}

#start-button{
	position: absolute;
	z-index: 1;
}

#start{
	display: block;
    background-color: turquoise;
    border: darkcyan;
    color: white;
    height:  638px;
    width: 638px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    border-radius: 50%;
    font-family: "Frutiger Neue W02 Thin", Arial;
    transition: all 3s ease-in;
}

#reset-button{
	display: block;
}

#reset{
/* 	visibility: hidden; */
	display: none;
    background-color: turquoise;
    border: darkcyan;
    color: white;
    margin: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 50%;
    font-family: "Frutiger Neue W02 Thin", Arial;
}

#scoreboard{
	font-size: 50px;
	margin: auto;
	text-align: center;
	font-family: "Frutiger Neue W02 Thin", Arial;
	color: #310736;
	max-width: 640px;
	min-width: 320px;
	width: 75%;
	}

.takenSquare:{
	transform: rotate(360deg);
	transition:  all 3s;

}


